[user]
	name = Dominik Liebler
	email = dominik.liebler@yazio.com
	signingkey = /Users/dominik/.ssh/id_ed25519.pub

[alias]
	co = checkout
	sw = switch

[color]
	ui = auto

[color "branch"]
	current = green reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[branch "main"]
	remote = origin
	merge = refs/heads/main
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/dominik/.config/git/allowed_signers
[credential]
	helper = osxkeychain
